{{#each values as |data index|}}
  <div class="custom-control custom-radio">
    <input type="radio" id="{{name}}_{{index}}" class="custom-control-input" name={{name}} checked={{data.checked}} onclick={{action 'setValue' data}}>
    <label class="custom-control-label" for="{{name}}_{{index}}"> {{data.description}} </label>
  </div>
{{/each}}