<div class="page-container">

  <h1>{{model.title}}</h1>
  <h1>{{step.title}}</h1>


  <div class="single-case-description">
    {{component type value=value}}
  </div>

  <div class="page-actions my-5">
    {{#if prev}}
      <button class="btn btn-secondary mr-auto" {{action "prevStep"}}>
        Prev
      </button>
    {{/if}}

    {{#unless finalStep}}
      <button class="btn btn-secondary float-right" {{action "nextStep"}} >
        Next
      </button>
    {{/unless}}

    <button class="btn btn-primary float-right ml-5" {{action "save"}}>
      Finish
    </button>

    <div class="clearfix"></div>
  </div>
</div>